body {
  margin: 0;
  padding: 0;
  background: url('./assets/opening.jpg');
  background-size: cover;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
}
.logo {
  width: 100px;
  margin: 2rem;
}
.wrapper {
  display: block;
  position: relative;
  height: 75vh;
  width: 70%;
  padding: 1.5rem;
  margin: 0.5rem auto;
  z-index: 1;
}
.story {
  background-color: #404546;
  opacity: 0.6;
  display: block;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: 70%;
  height: 75vh;
  margin: 0.5rem auto;
  z-index: -1;
}
.text {
  color: #dfe2e3;
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 50vh;
}
.options-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.option {
  color: #54eb76;
  font-weight: 600;
  padding: 0.2rem;
  text-decoration: underline;
  text-underline-position: under;
}
